
<head>
    <meta charset="utf-8" />
    <link href="Styles/LoginStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="fullscreen_bg" class="fullscreen_bg" />
    <div class="container">
        <form class="form-signin">
            <h1 class="form-signin-heading text-muted">Sign In</h1>
            <input type="text" ng-model="email" class="form-control" placeholder="Email address" required="" autofocus="">
            <input type="password" ng-model="password" class="form-control" placeholder="Password" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="um.login(email, password)">
                Sign In
            </button>
        </form>
    </div>
</body>
